[github]
    user = sataloger

[user]
    name = Andrey Babak
    email = sataloger@gmail.com

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
 
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = vim 

[alias]
    co = checkout
    ci = commit
    up = remote update
    st = status
    stat = status
    br = branch
    df = diff
    hist = log --oneline --all --graph --decorate
    mg = merge --no-ff
    ph = push --tags
    ls = ls-files
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    dta = !sh -c 'git tag -a \"$1\" -m \"`date +"%d.%m"`\"' -
    dtl = !sh -c 'git tag | grep -P \"^\\d\" | sort -rn -t. -k1,1 -k2,1 -k3,1 | head -n1' -
    dtd = !sh -c 'git log $1..$2 --oneline | egrep -o \"\\w+-[0-9]+\" | sort | uniq' -
    done =  !sh -c 'git dtd `git dtl`' -
 
[merge]
    tool = vimdiff

[push]
    default = simple
